html body,
.main {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0ebf8;
}
#myNumber {
  font-size: 10em;
}

#myBtn {
  font-size: 4em;
  padding: 30px;
  background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  border-radius: 30px;
  transition: background-color 0.25s;
  cursor: pointer;
}
#myBtn:hover {
  background: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
}
div {
  margin-top: 20px;
}
#age {
  font-size: 2em;
}

#input {
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 228, 228);
}

#submit {
  margin-top: 20px;
  padding: 20px 50px;
  font-size: 30px;
  border-radius: 20px;
  background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
  cursor: pointer;
}
#submit:hover {
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

.main {
  width: 50%;
  height: 70%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid rgb(103, 58, 183);
}

#roll-message,
#input,
#attempts,
#result {
  color: rgb(0, 0, 0);
}
#attempts,
#result {
  font-size: 20px;
}
